.calc{
    width: 400px;
    height: 600px;
    border: solid 1px;
    margin-left: 400px;
    margin-top: 40px;
    background: gray;
}
#screen{
    width: 80%;
height: 40px;
margin-left: 30px;
margin-top: 30px;
pointer-events: none;
}
.btn{
    width: 55px;
height: 60px;
margin-left: 30px;
margin-top: 40px;
background: greenyellow
}